@import "tailwindcss";
@import "tailwindcss/utilities";

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}